*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	color: white;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	position: relative;
	font-family: BebasRegular;
	background-image: url(../img/background.jpg);
	background-repeat: repeat-x;
	min-height: 644px;
	background-position: top center;
	
}
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	padding: 22px 0;
}
.top_addr {
	padding-left: 50px;
	background-image: url(../img/gps-1.png);
	background-repeat: no-repeat;
	background-position: left top;
	text-transform: uppercase;
	font-family: "BebasBold";
	line-height: 27px;

}
.top_addr strong {
	display: block;
	font-size: 33px;
	color: #d12f22;
	font-weight: normal;
}
.top_line a {
	border-bottom: dashed 1px;
	font-size: 22px;
	color: white;
	transition: all .25s;
}
.top_line a:hover {
	border-bottom: transparent 1px dashed;
}
.logo_wrap {
position: relative;
width: 240px;
margin: auto;
}
.logo {
	position: absolute;
	margin-top: -20px;
}
.logo_wrap a {
	border-bottom: none;
}
.logo_wrap a:hover {
	border-bottom: none;
}
.contacts {
	background-image: none;
	text-align: right;
	padding-left: 0px;
}
.contacts span {
	color: white;
}
h1 {
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-family: BebasRegular;
	text-shadow: 0 3px rgba(0,0,0, 0.55);
	margin-top: 60px;
	letter-spacing: 2px;
}
 .button {
	font-size: 20px;
	display: inline-block;
	background-color: #d12f22;
	color: white;
	vertical-align: middle;
	height: 50px;
	padding: 0 25px;
	line-height: 50px;
	border-bottom: #ac160a 4px solid;
}
.button_photo {
	background: url(../img/photo-button.png) no-repeat 13px 8px #d12f22;
	padding-top: 5px;
	line-height: 19px;
	padding-left: 68px;
	margin-right: 20px;
}

.buttons {
width: 100%;
position: absolute;
bottom: 32px;
}

.buttons-top {
	position: absolute;
}
.button:hover {
background-color: #b81609;
}
ul {
	padding: 0;
	margin: 0;
}
.top-menu {
	height: 62px;
	background-color: #242424;
	border-bottom: solid #3a3a3a;

}
.top-menu li{
	list-style-type: none;
	float:left;
	border-left: solid #3a3a3a 1px;
	background: url(../img/top-icon.png) no-repeat;
	background-position: 20px 7px;
}
.top-menu a {
	line-height: 62px;
	font-size: 20;
	font-family: bebasregular;
	color:white;
	padding: 0 26px; 
	padding-left:60px;
}

.top-menu li:nth-child(2) {
	background-position: 20px -40px;
}

.top-menu li:nth-child(3) {
	background-position: 20px -98px;
}

.top-menu li:nth-child(4) {
	background-position: 17px -152px;
}

.top-menu li:nth-child(5) {
	background-position: 20px -195px;
}

.top-menu li:nth-child(6) {
	background-position: 20px -260px;
}
.top-menu .active {
	background-color: black
}
.waranty	{
	font-family: RobotoCondensedRegular;
	padding: 5px;
	float: right;
	cursor: default;
	font-size: 18px;
	border: 3px solid #fff;
	border-radius: 3px 5px;
	line-height: 16px;
	margin-top: 7px;
}
.w-left, .w-right {
	display:inline-block;
	
}
.w-left {
	margin-right: 7px;
	font-family: bebasbold;
	font-size: 20px;
}
.w-left span {
	margin-right: 2 px;
	font-size: 34px;
}